*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
a{
   text-decoration: none;
}
ul{
   list-style: none;
   font: Helvetica Neue;
}
.logo{
   width: 115px;
   height: 65px;
}
header{
   background-color: rgba(0, 32, 244, 1);
   width: 1920px;
   height: 388px;
   padding: 70px;

}
header a{
   color: white;
}
.contact{
   background-color: #FFFFFF;
   color: black;
   border-radius: 28px;
   font:Helvetica Neue bold;
   padding: 10px 19px;
}
.navbar li{
   margin-bottom: 18px;
}
.mtavari{
   width: 1195px;
   height: 600px;
   border-radius: 15px;
}
h2{
   text-align:center;
   font-size: 28px;
   color: #171717;
}
section{
   width: 1000px;
   margin: -140px auto;
}
.smallones{
   width: 219px;
   height: 219px;
}
p{
   width: 951px;
   height: 151px;
   color:#171717;
   padding-left: 480px;
   margin-top: 160px;
   text-align: left ;
}
